<div class="container">
  <div class="header">
    <h1>Water Parameters Tracker</h1>
  </div>
  
  <mat-tab-group>
    <mat-tab label="Add Parameters" (click)="activeTab = 'form'" [active]="activeTab === 'form'"></mat-tab>
    <mat-tab label="View History" (click)="activeTab = 'history'" [active]="activeTab === 'history'"></mat-tab>
  </mat-tab-group>
  
  <div class="content">
    @switch (activeTab) {
      @case ('form') {
        <app-parameter-form></app-parameter-form>
      }
      @case ('history') {
        <app-parameter-history></app-parameter-history>
      }
    }
  </div>
</div>